## **What is Python ?**
> Python is a popular, open source high-level programming language released in 1991. It is a platform independent ***interpreted*** language.

## **What can it be used for ?**
*   Data Science
*   Machine Learning & AI
*   Web Development (Server Side)
*   GUI Development 
*   Scientific & Numeric Programming

## **Why Python ?**
1.   Simple, easy-to-learn syntax
2.  There exists inbuilt functions for almost all of the frequently used concepts. 
3.   Supports a wide array of third-party modules and libraries

# **Hello World!**
```
#include <stdio.h>

int main(){
    cout<<"Hello World!"<<endl;
    return 0;
}
```

In [ ]:
print('Hello World!')

Hello World!

* The `print()` function is used for output in python. 
* Mainly, it takes a comma separated object(s) to print to output.

In [ ]:
print("Hello", "World!")

Hello World!

* The `print()` function also takes two other optional arguements:
1. **sep** = *'separator'* : Specify how to separate two objects. Set to ' ' by default.
2. **end** = *'end'* : Specify what to print at the end of line. Set to '\n' by default.

In [ ]:
print("Hello", "World!", sep='_')

In [ ]:
print("Hello")#, end='___')
print("World!")

# **Python vs. C/C++**

1. No  `;` in Python!

Unlike C/C++ a python statement does not require a `;` to terminate. But, every python statement must be placed in a new line.

2. No `{ }` in Python!

Python does not use `{ }` to define blocks in code like in C/C++. Instead, python brings a new headache of ***Indentation***.

In [ ]:
# Writing two statements within the same line like C/C++ is invalid in python.
a = 1
b = 4            
print(a+b)

5

# **Indentation**

* Indentation refers to the spaces at the beginning of a code line. For most 
languages, it is significant to only readability of code but in Python indetation becomes compulsory as it defines scope. Wrong indentation can cause ***undectatable*** errors in your program.



* The number of spaces is upto the programmer, but it should remain consistent throughout the same block. Generally, 4 spaces are used for indentation.

In [ ]:
if 2 < 6:
    print("Statement 1")
    print("Statement 2")

# **Comments in python**

* All text followed by a `#` in a line is treated as a comment.
* Python does not support multiline comments, but we do have a workaround which will be discussed later.

In [ ]:
# This is a comment
print("Hello!")

Hello!

# **Variables in Python**

* Python has no command for declaring a variable. Statements like ```int x;``` do not exist in Python.

* A variable is created whenever it is initialized with a value. For example,

In [ ]:
x = 0


* The rules for variable naming a similar to that in C/C++. A variable name can contain only alphanumeric characters and underscores and cannot start with a number. They are case-sensitive.

* Variables do not require a data type when initialized and data type of any variable can be changed as required.
* If you want to use a variable as a particular type, it can be done using casting.

In [ ]:
i = 10
f = 3.1417
cx = 1j
ch = 'A'
s = "This is a string."
b = True

# type() function can be used to check the data type of a variable.



* Multiple variables can be initialized in a single statement also.

In [ ]:
x, y, z = 10, "Hello", 2.0

print(x)

# **Operators in Python**

## **Arithmetic Operators**

Operator | Name 
--- | ---
`+` | Addition
`-` | Subtraction
`*` | Multiplication 
`/` | Division
`%` | Modulus
`**`| Exponentiation (Power)
`//`| Floor division

In [ ]:
print(10/4)

In [ ]:
print(10//4)

In [ ]:
print(2**10)    # pow(2, 10)

## **Assignment Operators**

Operator &emsp; &emsp;| Use  &emsp;  &emsp;  &emsp;   | Equivalent 
---- |----------|------------
`=`  | 	x = 7   |   x = 7	
`+=` |	x += 7  | 	x = x + 7	
`-=` |	x -= 7  | 	x = x - 7	
`*=` |	x \*= 7 |	x = x * 7	
`/=` |	x /= 7  |	x = x / 7	
`%=` |	x %= 7  |	x = x % 7	
`//=`|	x //= 7 |	x = x // 7	
`**=`|	x **= 7 |	x = x ** 7	
`&=` |	x &= 7  |	x = x & 7	
`\|=`|	x \|= 7 |   x = x \| 7	
`^=` |	x ^= 7  |	x = x ^ 7	
`>>=`|	x >>= 7 |	x = x >> 7	
`<<=`|	x <<= 7 |	x = x << 7

In [ ]:
x = 4;
x **= 3;
print(x)

## **Python Logical Operators**

* In python logical operators are used directly by name. We do not have `&&` and `||` in python.

Operator | Description | Example
---|---|---
`and` | True if both conditions are true |	x < 4 and  x < 14	
`or`	| True if any one of the condition is true |	x < 10 or x > 20	
`not`	| Returns False if the result is True and vice versa &nbsp;|	not(x < 5 and x < 10)

In [ ]:
x = 15
if x < 20 or x > 40:
    print("Hello")

## **Identity Operators**

Operator| Description | Usage
---|---|---
`is` 	| Returns True if both variables are the same object |	x is y	
`is not`	| Returns True if both variables are not the same object | x is not y

In [ ]:
x = [1, 2]      # [] creates a list in python
y = [1, 2]
z = x

print("y is x :", y is x)
print("y == x :", y==x)
print()     # An empty print() statement will print a newline

print("z is x :", z is x)

## **Membership Operators**

Operator| Description | Usage
---|---|---
`in` | 	Returns True if a sequence with the specified value is present in the object |	x in y	
`not in` |	Returns True if a sequence with the specified value is not present in the object |	x not in y

In [ ]:
ls = [10, 20, 30]
print("10 in ls :", 10 in ls)
print("40 in ls :", 40 in ls)
print()
print("40 not in ls :", 40 not in ls)

10 in ls : True
40 in ls : False

40 not in ls : True

# **Taking Input in Python**

* Taking input in python is fairly easy and we use the `input()` function to do so.
* The `input()` function can take an optional string arguement which will be printed before asking for input.

In [ ]:
name = input("What is your name ? ")   
print("Welcome " + name)

In [ ]:
x = input("Enter a number: ")
print(x + 10)
# print(type(x))

# **Strings in Python**

* Any data within double quotes `" "` or single quotes `' '` is treated as a string in Python.

In [ ]:
myString = 'Python is Fun!'
myString = "Python is Fun!"

* A multiline string can be assigned to a variable using three quotes.

In [ ]:
myMultiString = """This is 
a multiline 
string."""
print(myMultiString)

This is
a multiline
string.


* Using this as a workaround, we can simply enclose code between three quotes (single or double) to commment them. Python will treat it as a string which is not assigned to any variable and will hence ignore it.

In [ ]:
'''
print("Hello!")
print("World")
'''
print("I Love Python!")

I Love Python!

* Python is packed with many string ***methods*** which make working with strings very easy.

In [ ]:
s1 = "This is a string."

# Formatting
print(s1.upper())
print(s1.lower())
print(s1.swapcase())
print()

# Boolean checks
print(s1.isalpha())
print(s1.isnumeric())

## **`split()` and `join()` string methods**

* `split()` : Splits the string in chunks separated by the input arguement.
* `join()` : Joins the items in iterable given as arguement, with the calling string as separator and returns new string.

In [ ]:
sample = "Python is Fun!"
stringList = sample.split()   #Default separator is ' '
print(stringList)

['Python', 'is', 'Fun!']

In [ ]:
separator = "_"
joinedStr = separator.join(stringList)  # stringList is a python iterable
print(joinedStr)

Python_is_Fun!

Checkout other useful string methods here : https://www.w3schools.com/python/python_strings_methods.asp

# **Type Casting**

* Type casting can be used to convert variables from one type to another. 
* By default, the input() function return a string type variable and hence this variable must be typecasted properly before use.

In [ ]:
x = int(input("Enter a number: "))
print(x + 10)

Type casting can be mainly done with these data type function:
* `str()` : Convert int or float type to string
* `int()` : Convert string or float type to integer
* `float()` : Convert string or int type to float

In [ ]:
x_int = 10
x_str = "12"
x_float = 14.7

# str()
print("Result: " + str(x_int));
print("Result: " + str(x_float));
print('')

# int()
print(3 + x_float)
print(3 + int(x_float))
print(4 + int(x_str), type(int(x_str)))
print('')

# float()
print(1.2 + float(x_int), type(float(x_int)))
print(1.3 + float(x_str))
print('')

# original variable types
print(type(x_int), type(x_str), type(x_float))

Result: 10
Result: 14.7

17.7
17
16 <class 'int'>

11.2 <class 'float'>
13.3

<class 'int'> <class 'str'> <class 'float'>

* One must note that the type casting functions do not change the type of the original variable but instead return a new value of the desired type. To change type of the original variable one can use,

In [ ]:
x = "10"
print(type(x))
x = int(x)
print(type(x))

# **Conditional Statements**

* Conditional statements in python are similar to those in C/C++.
* A simple C++ code snippet 
```
int x = 30;
int y = 20;
if(x > y){
    cout<<"x is greater than y.";
}
```
can be written as under in python.

In [ ]:
x = 30
y = 20
if x > y : 
    print("x is greater than y.")

* Adding an else statement is also similar.

In [ ]:
x = 10
y = 20
if x > y : 
    print("x is greater than y.")
else:
    print("x is smaller than y.")

* But, `else if` statement in C/C++, is changed to `elif`.

In [ ]:
x = 20
y = 20
if a > b : 
    print("x is greater than y.")
elif(a == b):                # Although not required, you can use brackets
    print("x is equal to y.")
else:
    print("x is smaller than y.")

a is equal to b.

## **Short-hand conditional statements**

* If we need to execute only one line of code after if statement, we can use a shorthand version of if (which does not require indentation)

In [ ]:
x = 30
y = 20
if x > y: print("x is greater than y.")

* `If ... else` and `if ... elif ... else` type statements can be written in short-hand form as follow.

In [ ]:
x = 20
y = 20
print("X > Y") if x > y else print("X = Y") if x==y else print("X < Y")

X = Y

##**Use of Nested if and Logical Operators**

In [ ]:
marks = 75

if marks > 100 or marks < 0:
    print("Invalid Marks!")
else:
    if marks > 40:
        if marks >= 80 and marks <= 100:
            print("Passed with Grade A")
        elif marks >= 60 and marks < 80:
            print("Passed with Grade B")
        else:
            print("Passed with Grade C")
    else:
        print("Failed")

# **Python Loops**

## **While Loop**
* The while loop will execute the code block as long as the given condition is true.

In [ ]:
counter = 10
while counter > 0:
    print(counter, end=' ')
    counter -= 1                # Python does not support counter--

10 9 8 7 6 5 4 3 2 1

### `break` statement :
 Used to break out of the loop without the loop condition being evaluated to false.

In [ ]:
counter = 10
while counter > 0:
    print(counter, end=' ')
    if counter == 5: 
        break
    counter -= 1

10 9 8 7 6 5

### `continue` statement: 
Used to *continue* the next iteration of the loop without executing the lines after this statement.

In [ ]:
counter = 10
while counter > 0:
    if counter%2 == 1: 
        continue                    # Can you spot a bug in this code ?
    print(counter, end=' ')
    counter -= 1

### `else` statement in Loop

In python, we can write an `else` block after the loop. This block is executed once the loop condition evaluates to false.

In [ ]:
counter = 10
while counter > 0:
    print(counter, end=' ')
    counter -= 1     
else:
    print("\nFinal Counter:", counter)

* If `break` statement is used to exit loop, `else` block will NOT be executed.

## **For Loop**
* The for loop is usually executed for a range of numbers or items.

In [ ]:
lang = ["Python", "C", "Ruby", "Java"]
for x in lang:             # x serves as a temp variable                                
    print(x)

In [ ]:
# Looping through a string
for c in "India":         
  print(c)

### **`range()` function**

* The `range(start, end, step)` function is used to create a sequence of numbers from `start` to `end` with an increment of `step`. 
* `end` is not included in the sequence.

`range()` can be used in three ways:

In [ ]:
# If only a single arguement is given, range defaults start value to 0.
# Value of step is taken 1 by default.

for i in range(5):
    print(i, end=" ")

In [ ]:
for i in range(2, 7):
    print(i, end=" ")

In [ ]:
for i in range(10, 4, -1):
    print(i, end=" ")

# **Python Collections**

## **Lists**

* Python lists are used to store multiple items in a single variable.
* An important point about lists is that they can comprise of multiple types of variables.
* Lists are 0-indexed and any list item can be accessed using this index.
* List items are mutable (changeable).

In [ ]:
myList = [10, 'ListItem', 14.5, 10j]
print(type(myList[0]), type(myList[1]), type(myList[2]), type(myList[3]))



# We can get the length of a list (or any other iterable) using len()
print("Length of List:", len(myList))

<class 'int'> <class 'str'> <class 'float'> <class 'complex'>
Length of List: 4

### **List Indexing**

* Lists are 0-indexed.
* Python also supports negative indexing. In negative indexing, the last item is assigned index `-1` and decreases by 1 as we move towards the first item.

In [ ]:
ls = [10, 20, 30, 40, 50, 60]

print(ls[5], ls[-1])
print(ls[4], ls[-2])
print(ls[0], ls[-6])

60 60
50 50
10 10

* Python also supports range indexing to get a range of items from a list. 
* The range index is of the form `[i:j]`, which returns items from index `i` to `j-1` excluding item at index `j`

In [ ]:
fruits = ["apple", "mango", "orange", "kiwi", "banana", "cherry", "melon"]

print(fruits[1:3])      # Elements [1] and [2] are printed.

In [ ]:
# If first index is left empty, it will default to first index, i.e 0.
print(fruits[:3])

In [ ]:
# If last index is left empty, it will default to last index.
print(fruits[1:])

In [ ]:
# Negative indexing can also be used here
print(fruits[-4:-2])

['kiwi', 'banana']

* A double colon syntax can also be used for slicing lists. It is of the format `[start : stop : steps]`. The `steps` is the value incremented in each step.

In [ ]:
print(fruits[1:5:2])

['mango', 'kiwi', 'cherry']

* This can be used to reverse lists. Using a negative value for `steps` will iterate the list in reverse fashion.

In [ ]:
print(fruits[4:1:-1])

['banana', 'kiwi', 'orange']

In [ ]:
# We can reverse the entire list using this
print(fruits[::-1])

['melon', 'cherry', 'banana', 'kiwi', 'orange', 'mango', 'apple']

* Any value left out, is treated as a default value.

### **Adding Items**

* Items can be added to lists using `append()` and `insert()`.

In [ ]:
ls = [10, 20, 30]

ls.append(40)       # Append adds an element to the end of the list.
print(ls)

[10, 20, 30, 40]

In [ ]:
ls = [10, 20, 40]

ls.insert(2, 30)      # .insert(index, value)
print(ls)

[10, 20, 30, 40]

* We can even add another list entirely.

In [ ]:
ls1 = [10, 20, 30]
ls2 = [40, 50, 60]

# Simply + operator can be used
ls3 = ls1 + ls2
print(ls3)


# .extend() method can be used to add elements from any iterable
ls1 = [10, 20, 30]
ls1.extend(ls2)     # A new list is not returned, ls2 is appended to ls1
print(ls1)

### **Removing Items**

* The remove() method removes the specified item.

In [ ]:
ls = ["India", "Pakistan", "USA"]
ls.remove("Pakistan")
print(ls)

* The pop() method removes the item at given index. If not specified, the last item is removed

In [ ]:
ls = ["India", "Pakistan", "USA"]
ls.pop(1)
print(ls)

['India', 'USA']

* clear() method deletes all elements of the list

In [ ]:
ls = ["Pakistan", "USA", "Russia"]
ls.clear()
print(ls)

[]

* `del` can also be used to delete an item or an entire list.

In [ ]:
ls = ["Pakistan", "USA", "Russia"]
del ls[0]
print(ls)

del ls
#print(ls)

['USA', 'Russia']

### **Sorting**

* Sorting operation can be done by simply using the sort() method.
* By default, sorting is done in ascending order. For descending order, we set the arguement `reverse = True`

In [ ]:
ls = [3, 5, 1, 2, 6, 7, -4, 5]
ls.sort()       # Inplace sorting
print(ls)

[-4, 1, 2, 3, 5, 5, 6, 7]

In [ ]:
ls = [3, 5, 1, 2, 6, 7, -4, 5]
ls.sort(reverse=True)       # Reverse sorting
print(ls)

In [ ]:
# For creating a new variable, we can use the sorted() function.

ls = [3, 5, 1, 2, 6, 7, -4, 5]
print(sorted(ls))
print(ls)

[-4, 1, 2, 3, 5, 5, 6, 7]
[3, 5, 1, 2, 6, 7, -4, 5]

> Python supports a lot of methods for lists. You can refer to these methods here. 
https://www.w3schools.com/python/python_lists_methods.asp

## **Tuples**

* Tuples are used to store multiple items in a single variable.
* Tuples are created using `( )` and are immutable (unchangeable)
* Similar to lists, tuples are 0-indexed.

In [ ]:
myTuple = ("Zero", "One", "Two", "Three")
print(myTuple)

('Zero', 'One', 'Two', 'Three')
<class 'int'> <class 'str'> <class 'float'>

In [ ]:
# A tuple can also have different data type values
diffTup = (0, "One", 2.0)
print(type(diffTup[0]), type(diffTup[1]), type(diffTup[2]))

* As tuples are immutable, we cannot add or remove elements from a tuple.

### **Unpacking tuples**

* As we discussed tuples are used to store multiple items in a single variable. Now, unpacking a tuple means creating a separate variable for every item in a tuple.

In [ ]:
myTuple = ("Zero", "One", "Two")
z, o, t = myTuple
print(z, o, t, sep='\n')

* If number of variables created are not equal to the number of items in the tuple, we will face an error. To resolve this error, use `*` before a variable name to assign all remaining items to that variable as a list.

In [ ]:
myTuple = ("Zero", "One", "Two")
z, o = myTuple      # Use * 
print(z, o)

## **Sets**

* Set is an unordered collection of unique items.
* Duplicates are not allowed in sets. If a duplicate item is assigned, it is only inserted once.
* A set can be created using curly braces `{ }`.
* Sets items are not changeable, but the set itself can change. (i.e items can be added or removed)
* They are unindexed and so items cannot be accessed using index.

In [ ]:
mySet = {10, 15, "v", 2, 13, "Hello", 10, 2, "v"}
print(mySet)

{2, 10, 13, 'Hello', 15, 'v'}

### **Accessing Set Items**
* Set items can be checked and accessed using the `in` keyword.

In [ ]:
myLang = {"C++", "Python", "Java", "Kotlin"}
if "Javascript" in myLang:
    print("I know Javascript.")
else:
    print("I do not know Javascript.")

I do not know Javascript.

In [ ]:
myLang = {"C++", "Python", "Java", "Kotlin"}
for x in myLang:
    print('I can code in', x, end='.\n')

I can code in Python.
I can code in Kotlin.
I can code in Java.
I can code in C++.

### **Adding Items**

* Items can be added to a set using `add()` method.

In [ ]:
mySet = {10, 20, 30}
mySet.add(40)
print(mySet)

mySet.add(30)
print(mySet)

{40, 10, 20, 30}
{40, 10, 20, 30}

* To add multiple items at once, we can use `update()` method. It takes any iterable as an arguement.

In [ ]:
mySet = {"A", "B", "C"}
ls = ["C", "D", "E"]

mySet.update(ls)
print(mySet)

{'A', 'B', 'E', 'C', 'D'}

### **Removing Items**

* To remove an item from set, we can use `discard()` or `remove()` method.
* Both function similarly with the only difference being that if item does not exist in the set, `remove()` will generate an error whereas `discard()` will NOT generate an error.

In [ ]:
mySet = {10, 20, 'A', 'B'}
mySet.remove(10)
mySet.remove(30)         # Element does not exist.
print(mySet)

In [ ]:
mySet = {10, 20, 'A', 'B'}
mySet.discard(10)
mySet.discard(30)        # Element does not exist.
print(mySet)

{'B', 20, 'A'}

* `pop()` method removes the last element from the set.

In [ ]:
mySet = {10, 20, 30}
mySet.pop()
print(mySet)

{20, 30}

### **Set Operations**

* The `union()` method is used to perform union of two sets.

In [ ]:
A = {10, 20, 30}
B = {20, 40, 50, 60}

AuB = A.union(B)          # A new set is returned.
print(AuB)

# To perform union in-place, use update() method.

{50, 20, 40, 10, 60, 30}

* The `intersection()` method is used to perform intersection of two sets.

In [ ]:
A = {10, 20, 30}
B = {20, 30, 50, 60}

AiB = A.intersection(B)         # A new set is returned.
print(AiB)

# To perform intersection in-place, use intersection_update() method.

{20, 30}

* Many other operations like difference and symmetric difference can also be performed using set methods. Check reference : https://www.w3schools.com/python/python_sets_methods.asp

## **Dictionaries**

* Dictionaries are used to store `key : value` pairs in python. It is an implementation of hash tables.
* Item values can be accessed using the `key` for the required item. 
* Dictionaries are mutable, i.e we can add or remove items after the dictionary has been created.
* Dictionaries require a unique `key` for every item. No two items can have the same `key`.

In [ ]:
myDict = {
    202001186 : "Student ID",         # keys and values can be of any data type
    "Name" : "Vishesh",                                    # NOT Vishvesh
    "College" : "DAIICT",
    "Graduation Year" : 2024,
    "Years of Study" : [2020, 2021, 2022, 2024],
}
print(myDict)

{202001186: 'Student ID', 'Name': 'Vishesh', 'College': 'DAIICT', 'Graduation Year': 2024, 'Years of Study': [2020, 2021, 2022, 2024]}

In [ ]:
print(myDict[202001186])

Student ID

### **Accessing Dictionary Items**

* As shown above, dictionary `values` can be accessed by using their corresponding `keys` as index.
* This can also be done using the `get()` method. This will prevent an error incase key does not exist.

In [ ]:
gradeDict = {'A' : 5, 'B': 4, 'C' : 3, 'D' : 2, 'E' : 1, 'F' : 0}

print(gradeDict.get('B'))       
print(gradeDict.get('X'))

4
None

### **Adding and Updating Items**

* Existing items can be updated easily by accessing them using their corresponding `key`.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 11
}

phone['Android Version'] = 12
print(phone)

{'Company': 'Samsung', 'Model': 'S21', 'Android Version': 12}

* If we assign a `value` to a `key` which does not exist, a new `key : value` pair will be added to the dictionary.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 11
}
phone['OneUI'] = 4.1
print(phone)

{'Company': 'Samsung', 'Model': 'S21', 'Android Version': 11, 'OneUI': 4.1}

* To add new or update multiple items at once, we can use the `update()` method of dictionaries. 
* `update()` method takes a dictionary as input which will be merged with the calling dictionary.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 11
} 
phone.update({'Model':'S22', 'Android Version':12, 'Color': 'Black'})
print(phone)

{'Company': 'Samsung', 'Model': 'S22', 'Android Version': 12, 'Color': 'Black'}

### **Remove Items**

* To remove an item, we can use the `pop()` method. It takes item `key` as input parameter.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 12,
    'Color' : 'Black'
} 
phone.pop('Color') 
print(phone)

{'Company': 'Samsung', 'Model': 'S21', 'Android Version': 12}

* The `popitem()` method removes the last inserted item from the dictionary. 

* Note that dictionaries are unordered in versions before 3.7. In older versions, this method removes a random item.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 12,
} 
phone.popitem()
print(phone)

{'Company': 'Samsung', 'Model': 'S21'}

### **Items, Keys & Values**

While using python dictionaries you will work with these three terms.
1. ***items*** : Items refer to a `key:value` pair. It is stored in the form of a tuple.
2. ***keys*** : Keys refer to the user made indices which are used to access items.
3. ***values*** : Values refere to the *data* which can be accessed using its corresponding key.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 12,
} 
pItem = phone.popitem()    #Yes, pop() functions return the deleted item.
print(pItem, type(pItem))

('Android Version', 12) <class 'tuple'>

We can view all items, keys and values using the methods `items()`, `keys()` and `values()` respectively.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 12,
} 

print(phone.items(), type(phone.items()))
print(phone.keys(), type(phone.keys()))
print(phone.values(), type(phone.values()))

### **Using the `in` keyword**

* Using the `in` keyword with dictionary variable will search only in the dictionary keys.

In [ ]:
phone = {
    'Company' : 'Samsung',
    'Model' : 'S21',
    'Android Version' : 12,
} 
for x in phone:
    print(x)

Company
Model
Android Version

* For searching items, values we need to use `items()`, `values()` methods.

In [ ]:
for k, v in phone.items():            # Note how tuples are unpacked here.
    print("Key:", k, "\tValue:", v)

Key: Company 	Value: Samsung
Key: Model 	Value: S21
Key: Android Version 	Value: 12

> Python dictionaries also support many other methods. Check reference: https://www.w3schools.com/python/python_dictionaries_methods.asp

## **Some Common Functions & Methods**

The collections discussed above have some methods which are common to almost all of them. Some of these functions which we often use are:
1. `len()` function: Returns number of items, i.e length of iterable.

In [ ]:
myList = ['a', 'b', 'c']
print("List has", len(myList), "elements.")

The `len()` function will similarly work for all other iterables like tuple, set, dictionary and even strings.

2. `clear()` method: Used to delete all items from the iterable.

In [ ]:
myList = ['a', 'b', 'c']
print(myList)
myList.clear()
print(myList)

['a', 'b', 'c']
[]

In [ ]:
myTuple = (40, 35)
print(myTuple)
myTuple.clear()        # Will this work ?
print(myTuple)

In [ ]:
mySet = {1, 2, 3, 4}
print(mySet)
mySet.clear()
print(mySet)

{1, 2, 3, 4}
set()

In [ ]:
myDict = {'Cold Coffee' : 35, 'Iced Tea' : 35, 'Samosa Chat' : 40}
print(myDict)
myDict.clear()
print(myDict)

{'Cold Coffee': 35, 'Iced Tea': 35, 'Samosa Chat': 40}
{}

3. `copy()` method: Creates a ***new*** copy of the iterable and returns it, which can be assigned to a variable. The copy method cannot be applied for tuples, as they are immutable.

In [ ]:
myList = [1, 4, 7]
myListCopy = myList


print("List: ", myList)
print("Copied List: ", myListCopy)

List:  [1, 4, 7, 5]
Copied List:  [1, 4, 7, 5]

In [ ]:
myList = [1, 4, 7]
myListCopy = myList.copy()


print("List: ", myList)
print("Copied List: ", myListCopy)

List:  [1, 4, 7, 5]
Copied List:  [1, 4, 7]

## **Type Casting Iterables** 

* Iterables can be easy type casted from one type to another using the constructors, `list()`, `tuple()`, `set()` and `dict()`.

In [ ]:
myList = [1, 2, 3, 4, 5, 4, 5]
myTuple = tuple(myList)
print(myTuple)

(1, 2, 3, 4, 5, 4, 5)
[1, 2, 3, 4, 5, 4, 5]

In [ ]:
myList = [1, 2, 4, 2, 4, 3]
mySet = set(myList)
print(myList)

[1, 2, 4, 2, 4, 3]

In [ ]:
myList = [(1, "A"), (2, "B"), (3, "C")]
#myList = [1, 2, 3]
myDict = dict(myList)       # Dict requires key:value pairs
print(myDict)

{1: 'A', 2: 'B', 3: 'C'}

* We can also use these constructors on strings.

In [ ]:
myStr = "racecar"
print(list(myStr))
print(tuple(myStr))
print(set(myStr))

['r', 'a', 'c', 'e', 'c', 'a', 'r']
('r', 'a', 'c', 'e', 'c', 'a', 'r')
{'e', 'c', 'r', 'a'}

## **Functions in Python**

* Functions in python can be declared using the `def` keyword. 
* `def` is followed by function name and arguements within `( )`.

In [ ]:
def myFunction(username):
    print("Welcome", username)

myFunction("Vishesh")

In [ ]:
# Multiple Arguements
def myFunc(username, email):
    print("Username:", username)
    print("Email ID:", email)

myFunc("Vishesh", "vishesh@mail.com")

* For multiple parameters, arguements can also be sent in the form of `key = value` synatax.

In [ ]:
def myFunc(username, email):
    print("Username:", username)
    print("Email ID:", email)

myFunc(email="vishesh@mail.com", username="Vishesh")

# **Python pip**


* Python supports a lot of third-party packages which can be easily installed using pip.
* **pip** is a package installer for python.
* Note that pip is not a python function. It is a command line tool which is used to manage packages in python.

## **Installing a package**

* If you have python installed on your local machine, you can try using pip on your command prompt.

In [82]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

* You can find numerous useful python packages at https://pypi.org/

## **Using a package**

* To use a package in python, we need to first import it to our code using the `import` and `from` keyword.

In [84]:
import math
x = 3
y = 4
d = math.sqrt(x**2 + y**2)
print(d)

5.0

* Using `from` we can import only the required class from the module.

In [86]:
from math import sqrt
x = 3
y = 4
d = sqrt(x**2 + y**2)
print(d)

5.0

* We can also define an alias for module names using the `as` keyword.

In [90]:
import numpy as np

# eye(n) creates returns an identity matrix of size n
arr = np.eye(3, dtype=int)      

print(arr)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

# **Let's Code: Hangman Game** 

> Hangman is a simple paper-pencil, word-guessing game where the player must guess the given word within a certain number of guesses.
Let's code a simple hangman game in python!

In [ ]:
import random
from google.colab import output         # Ignore for now

wordlist = ['APPLE', 'BANANA', 'ORANGE', 'WATERMELON']
fig = ["\n ____\n|     \n|    O\n|       \n|     \n|       \n",
       "\n ____\n|     \n|    O\n|    |  \n|    |\n|       \n",
       "\n ____\n|     \n|    O\n|   /|  \n|    |\n|       \n",
       "\n ____\n|     \n|    O\n|   /|\\\n|    |\n|       \n",
       "\n ____\n|     \n|    O\n|   /|\\\n|    |\n|   /   \n",
       "\n ____\n|     \n|    O\n|   /|\\\n|    |\n|   / \\\n",
       "\n ____\n|    |\n|    O\n|   /|\\\n|    |\n|   / \\\n"]

word = random.choice(wordlist)
guessed = []
wrongGuesses = 0

while wrongGuesses < 7:
  print('\n')
  blanksCount = 0
  for i in word:
    if i in guessed:
      print(i, end=' ')
    else:
      print('_', end=' ')
      blanksCount+=1
  
  if blanksCount == 0:
    break

  letter = input("\n\nGuessed Letter: ").upper()
  if letter not in word:
    print(fig[wrongGuesses])
    wrongGuesses+=1
  else:
    guessed.append(letter)


if wrongGuesses >= 7:
  print("\n\nYou Lost!")
else:
  print("\n\nYou Win!")